body {
    background: #171717;
    color: #ececec;
    margin: 0;
    font-family: "Gantari", sans-serif;
  }

/* LOGIN CONTAINER */
#contenedorlogin {
    width: 100%;
    min-height: 100vh;
    background: #171717;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
}

#mensaje {
    width: 500px;
    padding: 5px;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
    margin-bottom: 5px;
    display: none;
}

#loginfoto{  width:1725px;
            position: relative;
            bottom: 199px;
            z-index: 1;
           left: 86px;
           filter: saturate(175%) opacity(0.6) hue-rotate(346deg) contrast(1.45) sepia(0.9)  ;
            
            }

#f1auto {
  width: 100%;         
  height: 300px;     
  overflow: hidden;   
  position: relative;  }         



.errormensaje {
    background: #ff4d4d;
    color: white;
}

.okmensaje {
    background: #4caf50;
    color: white;
}

#logocadillac {
    width: 220px;
    margin-bottom: 40px;
}

#divcontlogin {
    width: 900px;
    background: #2a2a2a;
    border-radius: 12px;
    padding: 35px;
    display: flex;
    justify-content: space-between;
    z-index: 2;
}

.seccionlogin, .seccionregistro {
    width: 43%;
    display: flex;
    flex-direction: column;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 28px;
    font-size: xx-large;
}

label {
    margin-top: 12px;
    margin-bottom: 5px;
    font-size: 15px;
}

input {
    padding: 12px;
    border-radius: 16px;
    border: none;
    margin-bottom: 15px;
    font-size: 16px;
}

button {
    margin-top: 24px;
    padding: 12px;
    font-size: 17px;
    background: black;
    color: white;
    border: none;
    border-radius: 38px;
    cursor: pointer;
    font-weight: 700;
}

button:hover {
    background: #f1d452;
    color: black;
}

.botonfiltros1{

border: 2px solid #f1d452 ;
color: #f1d452;
padding:5%;


}

/* Divisor vertical */
.divider-vertical {
    width: 2px;
    background: #f1d452;
    border-radius: 2px;
    margin: 0 20px;
    height: 382px;
}




#logo{

width: 250px;

}

#contenedorpagina {
    max-width: 1600px;
    margin: 0 auto;
    display: none;
}

/* NAV */
#navbar {
    display: flex;
    justify-content: space-between;
    padding: 25px 0;
    align-items: center;
}

#logo-text {
    color: #f1d452;
    font-weight: bold;
}

.layout-contenedor {
    display: flex;
    align-items: flex-start;
    gap: 40px;
    margin-top: 40px;
    padding: 0 40px;
}

.filters-container {
    width: 250px; /* o 300px */
    flex-shrink: 0;
}


.empleado-card {
    background: #000000;
    border: 2px solid #f1d452;
    padding: 15px;
    border-radius: 17px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    margin: 10px;
    font-family: "Gantari", sans-serif;
    justify-content: flex-end;
}

.empleado-img {
    width: 100%;
    border-radius: 22px;
    object-fit: scale-down;
    margin-bottom: 4px;
    height: 215px;
}

.card h3 {
    margin: 10px 0 10px 0;
    font-size: 25px;
    font-weight: bold;
}

.card p {
    margin: 3px 0;
    font-size: 19px;
}

.salario {
    margin-top: 5px;
    font-weight: bold;
}

.activo.on {
    color: #4CAF50;
}
.activo.off {
    color: #e53935;
}

.card-actions {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 12px;
}

.card-actions .btn-edit,
.card-actions .btn-delete {
    background: none;
    border: none;
    color: #ccc;
    font-size: 15px;
    cursor: pointer;
    font-family:"Gantari", sans-serif ;
    font-weight: 500;
}

.card-actions .btn-edit:hover {
    color: #4CAF50;
}
.card-actions .btn-delete:hover {
    color: #e53935;
}


#ullinks {
    display: flex;
    list-style: none;
    gap: 50px;
}

#ullinks a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

#ullinks a:hover {
    color: #f1d452;
}

.divider {
    border: none;
    height: 1px;
    background: #f1d452;
    margin: 15px 0 40px;
}

.divider2 {

border: none;
    height: 2px;
    background: #f1d452;
    margin: 200px 0 40px;

}

/* FILTERS */
#contenedorfiltros {
    display: flex;
    gap: 50px;
    margin-top: 6%;
}

.filtros {
    border: 2px solid #f1d452;
    border-radius: 22px;
    padding: 25px;
    width: 280px;
    height: 600px;
}

.filter-box h2 {
    margin-top: 70px;
    margin-bottom: 20px;
}

.filter-btn {
    background: transparent;
    border: 1px solid #f1d452;
    color: #f1d452;
    padding: 6px 12px;
    border-radius: 20px;
    margin: 5px;
    cursor: pointer;
    transition: 0.2s;
}

.filter-btn:hover {
    background: #f1d45233;
}

.filter-btn.active {
    background: #f1d452;
    color: #0c0c0c;
}

/* EMPLEADOS */
#empleados-section {
    margin-top: -10px;
}

#empleados-list {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

/* PARTNERS */
#partners {
    text-align: center;
    margin-top: 70px;
}

#partners h2 {
    letter-spacing: 3px;
    font-size: 60px;
    
}

#imglogos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 35px;
    margin-top: 25px;
   
}

#imglogos img {
    height: 90px;
  
}

/* FOOTER */
#footer {
    display: flex;
    justify-content: space-between;
    margin: 60px 0 ;
    
}

#sociales img {
    height: 35px;
    margin-right: 15px;
}

#linksfooter {
    color: #f1d452;
    display: flex;
    gap: 250px;
    height: 100px;
}

#linksfooter ul {
    list-style: none;
    padding: 0;
    font-size: 20px;
    
}

.modal {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.7);
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modal-content {
    background: #181818;
    padding: 45px;
    border-radius: 30px;
    width: 410px;
    color: white;
    border: 2px solid #f1d452;
}

.modal-content label {
    margin-top: 10px;
    display: block;
}

.modal-content input,
.modal-content select {
    width: 93%;
    padding: 12px;
    margin-top: 5px;
    border-radius: 7px;
    border: 2px solid #f1d452;
    background: #f3f3f3;
    color: rgb(56, 56, 56);
    display: flex;
    flex-wrap: wrap;
}

.modal-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.modal-buttons button {
    padding: 10px 34px;
    border: none;
    background: #e6c44c;
    color: black;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
}

.crear-card {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: #1b1b1b;
    border-radius: 12px;
    width: 200px;
    height: 480px;
    border: 2px solid #e6c44c;
    transition: 0.2s ease;
}

.crear-card:hover {
    border-color: #e6c44c;
    box-shadow: 0 0 10px rgba(230, 196, 76, 0.4);
}

.crear-mas {
    font-size: 80px;
    color: #e6c44c;
    line-height: 0;
}